* {
  margin: 0;
  padding: 0;
  line-height: normal; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  font-family: 'Titillium Web', sans-serif; }

h1 {
  text-align: center;
  font-style: initial;
  font-weight: 700;
  margin-top: 15px; }

header {
  background-color: white;
  background: linear-gradient(90deg, red 0%, red 40%, #ff8282 50%, red 60%, red 100%);
  background-size: 400% 100%;
  animation: gradient 10s linear infinite;
  animation-direction: alternate; }
  header .banner {
    width: 100vw;
    height: auto;
    max-width: 100%;
    animation: banner-blur 12s linear infinite;
    animation-direction: alternate; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  25% {
    background-position: 25% 50%; }
  50% {
    background-position: 50% 50%; }
  50% {
    background-position: 75% 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes banner-blur {
  0% {
    filter: blur(0px);
    transform: scale(1); }
  25% {
    filter: blur(0.5px);
    transform: scale(1.02); }
  50% {
    filter: blur(1px);
    transform: scale(1.03); }
  75% {
    filter: blur(0.5px);
    transform: scale(1.02); }
  100% {
    filter: blur(0px);
    transform: scale(1); } }

.navbar {
  font-size: 20px;
  font-weight: 600;
  padding: 0px 18%; }

.navLogo {
  width: 95px;
  height: 60px;
  vertical-align: baseline; }

@media (max-width: 576px) {
  .navbar {
    padding: 0px 5px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    padding: 0px 50px; } }

footer {
  width: 100%;
  bottom: 0;
  left: 0; }

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #15151f;
  height: 50px;
  padding: 40px 18%;
  box-sizing: unset; }

.footerContent__pages {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .footerContent__pages li a {
    text-decoration: none;
    color: white;
    margin: 0; }
    .footerContent__pages li a:hover {
      color: red; }

.footerContent__logo {
  width: 80px;
  height: 60px; }

.footerContent__copyright {
  color: white;
  margin: 0; }

@media (max-width: 576px) {
  .footerContent {
    padding: 40px 5px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .footerContent {
    padding: 40px 50px; } }

.mainContent {
  padding: 20px 0px; }

.news {
  display: flex;
  flex-wrap: wrap; }

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  border-bottom-style: solid;
  border-right-style: solid;
  margin: 5px; }
  .card img {
    height: 200px;
    width: 320px;
    padding: 5px;
    border-radius: 10px; }
  .card div h2 {
    padding: 5px;
    margin: 5px; }

.card__text {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  max-width: 100%;
  max-height: 100%; }
  .card__text a {
    text-decoration: double; }

@media (max-width: 576px) {
  .card {
    flex-direction: column;
    height: fit-content;
    width: 400px; }
    .card img {
      max-width: 100%;
      max-height: 100%;
      height: 200px;
      width: 320px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .card {
    height: fit-content;
    width: 100%; } }

.nav-tabs {
  border: none;
  padding: 0;
  width: 200px; }

.nav-tabs .nav-link {
  margin-bottom: 5px;
  box-shadow: 2px 3px 5px #888888; }

.nav-tabs .nav-link.active {
  background-color: red;
  color: black;
  border: none; }

.teams {
  margin: 23px 0;
  display: flex;
  justify-content: center;
  height: 100%; }
  .teams ul {
    list-style-type: none; }
    .teams ul li {
      width: 100%;
      background-color: white;
      border: 1px;
      border-style: solid;
      border-color: #15151f;
      text-align: left;
      padding: 10px 5px;
      font-size: large;
      font-weight: 700; }
      .teams ul li:hover {
        background-color: #15151f;
        color: white;
        cursor: pointer; }

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 10px;
  margin: 23px 0; }
  .team .teamCar {
    margin: 30px 0;
    width: 558px;
    max-width: 100%;
    height: 160px;
    box-shadow: 2px 3px 5px #888888; }

.teamCard {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 400px;
  max-width: 100%; }
  .teamCard .teamCard-logo {
    height: 203px;
    min-height: 203px; }
  .teamCard .teamCard-text {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 5px; }
    .teamCard .teamCard-text .teamCard-titles {
      font-weight: bolder;
      width: 40%; }
    .teamCard .teamCard-text .teamCard-info {
      text-align: right;
      width: 60%; }

.teamDrivers {
  display: flex; }
  .teamDrivers .driver-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 2px 3px 5px #888888; }
    .teamDrivers .driver-card h2 {
      font-size: 30px;
      margin-top: 10px; }
    .teamDrivers .driver-card p {
      font-size: 40px;
      font-weight: bolder;
      margin: 0; }

.nav-tabs .nav-link.active.redbull-color {
  background-color: #3671c6; }

.nav-tabs .nav-link.active.ferrari-color {
  background-color: #f91536; }

.nav-tabs .nav-link.active.mercedes-color {
  background-color: #6cd3bf; }

.nav-tabs .nav-link.active.alpine-color {
  background-color: #2293d1; }

.nav-tabs .nav-link.active.mclaren-color {
  background-color: #f58020; }

.nav-tabs .nav-link.active.alfaromeo-color {
  background-color: #c92d4b; }

.nav-tabs .nav-link.active.astonmartin-color {
  background-color: #358c75; }

.nav-tabs .nav-link.active.haas-color {
  background-color: #b6babd; }

.nav-tabs .nav-link.active.alphatauri-color {
  background-color: #5e8faa; }

.nav-tabs .nav-link.active.williams-color {
  background-color: #37bedd; }

.redbull-shadow-color {
  box-shadow: 2px 2px 7px #3671c6; }

.ferrari-shadow-color {
  box-shadow: 2px 2px 7px #f91536; }

.mercedes-shadow-color {
  box-shadow: 2px 2px 7px #6cd3bf; }

.alpine-shadow-color {
  box-shadow: 2px 2px 7px #2293d1; }

.mclaren-shadow-color {
  box-shadow: 2px 2px 7px #f58020; }

.alfaromeo-shadow-color {
  box-shadow: 2px 2px 7px #c92d4b; }

.astonmartin-shadow-color {
  box-shadow: 2px 2px 7px #358c75; }

.haas-shadow-color {
  box-shadow: 2px 2px 7px #b6babd; }

.alphatauri-shadow-color {
  box-shadow: 2px 2px 7px #5e8faa; }

.williams-shadow-color {
  box-shadow: 2px 2px 7px #37bedd; }

@media (min-width: 768px) and (max-width: 1200px) {
  .team {
    flex-direction: column;
    height: auto; }
    .team .teamCard {
      width: 400px; }
  .teamDrivers {
    display: flex;
    justify-content: space-evenly; }
    .teamDrivers .driver-card {
      margin: 30px;
      width: 240px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .teamCard {
    width: 400px; }
  .teamDrivers {
    flex-direction: column; } }

@media (max-width: 576px) {
  .team {
    flex-direction: column;
    height: auto; }
    .team .teamCard {
      width: 400px; }
  .teamDrivers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .teamDrivers .driver-card {
      margin: 30px;
      width: 240px; } }

.driversContent {
  padding: 20px 100px; }

.driverCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 2px 3px 5px #888888;
  transform: scale(1);
  transition: 0.1s ease; }
  .driverCard:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.1s ease;
    border-radius: 3%; }

.driverCard__text {
  max-width: 100%;
  max-height: 100%;
  font-size: 20px;
  font-weight: 500; }

.driverCard__photo {
  max-width: 100%;
  max-height: 100%; }

.drivercardBackground {
  background-size: 400px 170px;
  background-repeat: no-repeat;
  background-position: center bottom; }

.drivercardBackground--unitedkingdom {
  background-image: url(../images/flags/unitedkingdom.png); }

.drivercardBackground--netherlands {
  background-image: url(../images/flags/netherlands.png); }

.drivercardBackground--mexico {
  background-image: url(../images/flags/mexico.png); }

.drivercardBackground--monaco {
  background-image: url(../images/flags/monaco.png); }

.drivercardBackground--spain {
  background-image: url(../images/flags/spain.png); }

.drivercardBackground--france {
  background-image: url(../images/flags/france.png); }

.drivercardBackground--australia {
  background-image: url(../images/flags/australia.png); }

.drivercardBackground--china {
  background-image: url(../images/flags/china.png); }

.drivercardBackground--germany {
  background-image: url(../images/flags/germany.png); }

.drivercardBackground--canada {
  background-image: url(../images/flags/canada.png); }

.drivercardBackground--denmark {
  background-image: url(../images/flags/denmark.png); }

.drivercardBackground--japan {
  background-image: url(../images/flags/japan.png); }

.drivercardBackground--thailand {
  background-image: url(../images/flags/thailand.png); }

.drivercardBackground--unitedstate {
  background-image: url(../images/flags/unitedstate.png); }

.drivercardBackground--finland {
  background-image: url(../images/flags/finland.png); }

@media (max-width: 576px) {
  .driverCard {
    width: 50%; }
  .driversContent {
    padding: 20px 0px;
    margin: 0; }
  .teamCard__driversname {
    font-size: 16px; } }

.scheduleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  margin: 10px;
  background-color: whitesmoke;
  box-shadow: 2px 3px 8px #888888; }
  .scheduleCard:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.1s ease;
    border-radius: 3%; }

.scheduleCard__text {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  max-height: 100%;
  width: 320px;
  font-size: 18px;
  font-weight: 500; }

.scheduleCard__circuit {
  max-width: 100%;
  max-height: 100%; }

.paddingx-xxl-350 {
  padding-left: 350px;
  padding-right: 350px; }

.cursor-pointer {
  cursor: pointer; }

.modal-margintop-10 {
  margin-top: 10%; }

@media (max-width: 576px) {
  .paddingx-sm-5 {
    padding-left: 5px;
    padding-right: 5px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .paddingx-md-50 {
    padding-left: 50px;
    padding-right: 50px; }
  .modal-md-width {
    --bs-modal-width: 700px; } }

@media (min-width: 1200px) {
  .position-center {
    position: 50% 50%; } }
