/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}


.flex--container {
    display: flex;
    flex-direction: row;
}

.drivercardBackground {
    background-size: 400px 170px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.drivercardBackground--unitedkingdom {
    background-image: url(../images/flags/unitedkingdom.gif);
}

.drivercardBackground--netherlands {
    background-image: url(../images/flags/netherlands.gif);
}

.drivercardBackground--mexico {
    background-image: url(../images/flags/mexico.gif);
}

.drivercardBackground--monaco {
    background-image: url(../images/flags/monaco.gif);
}

.drivercardBackground--spain {
    background-image: url(../images/flags/spain.gif);
    background-size: 300px 170px;
}

.drivercardBackground--france {
    background-image: url(../images/flags/france.gif);
}

.drivercardBackground--australia {
    background-image: url(../images/flags/australia.gif);
    background-size: 300px 170px;
}

.drivercardBackground--china {
    background-image: url(../images/flags/china.gif);
    background-size: 300px 170px;
}

.drivercardBackground--germany {
    background-image: url(../images/flags/germany.gif);
}

.drivercardBackground--canada {
    background-image: url(../images/flags/canada.gif);
    background-size: 300px 170px;
}

.drivercardBackground--denmark {
    background-image: url(../images/flags/denmark.gif);
}

.drivercardBackground--japan {
    background-image: url(../images/flags/japan.gif);
    background-size: 300px 170px;
}

.drivercardBackground--thailand {
    background-image: url(../images/flags/thailand.gif);
    background-size: 300px 170px;
}

.drivercardBackground--unitedstate {
    background-image: url(../images/flags/unitedstate.gif);
    background-size: 300px 170px;
}

.drivercardBackground--finland {
    background-image: url(../images/flags/finland.gif);
}

/* HEADER */

.navBar {
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 35px;
    padding: 20px 300px;
    font-weight: bolder;
}

.navLogo {
    width: 95px;
    height: 60px;
}

.navBar__items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBar__items li a {
    margin: 0 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.navBar__items li a:hover {
    color: black;
}


.banner {
    width: 100%;
    height: auto;
}

/* MAIN */

.title {
    text-align: center;
    font-style: initial;
    font-weight: 700;
    margin-top: 15px;
}

.mainContent {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 300px;
}

.news {
    flex-wrap: wrap;
    width: 65%;
}

.card {
    height: 150px;
    width: 800px;
    border-bottom-style: solid;
    border-right-style: solid;
    margin: 5px;
}

.card__image {
    height: auto;
    width: auto;
    padding: 5px;
}

.card__text {
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
}

.twitterFeed {
    width: 34%;
}

.teamsContent {
    padding: 20px 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.teamCard {
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    width: 47%;
    box-shadow: 5px 10px 18px #888888;
    margin: 10px;
}

.teamCard__title {
    max-width: 100%;
    max-height: 100%;
    color: black;
    font-size: 25px;
}

.teamCard__carimage {
    max-width: 100%;
    max-height: 100%;
    width: 375px;
    height: 100px;
    margin: 10px;
}

.teamCard__driversname {
    justify-content: space-evenly;
    align-items: flex-end;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    color: black;
    font-size: 20px;
}

.teamCard__driversname img {
    width: 75px;
    height: 75px;
}

.teamCard__text {
    font-size: 16px;
}

.driversContent {
    padding: 20px 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.driverCard {
    flex-direction: column;
    width: 23%;
    align-items: center;
    margin: 10px;
    box-shadow: 2px 3px 5px #888888
}

.driverCard__text {
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
    font-weight: 500;
}

.driverCard__photo {
    max-width: 100%;
    max-height: 100%;
}

.scheduleContent {
    padding: 20px 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.scheduleCard {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 31%;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 3px 8px #888888
}

.scheduleCard__text {
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    width: 320px;
    font-size: 18px;
    font-weight: 500;
}

.scheduleCard__circuit {
    max-width: 100%;
    max-height: 100%;
}

.galeryContent {
    padding: 20px 300px;
    flex-wrap: wrap;
    align-items: center;
}

.galeryCard {
    flex-direction: column;
    margin: 5px;
    width: 32%;
}

.galeryContent__image {
    max-width: 100%;
    max-height: 100%;
    padding-top: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.galeryContent__image:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}



/* FOOTER */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21, 21, 31, 255);
    height: 35px;
    padding: 40px 300px;
}

.footerContent__pages {
    display: block;
    list-style-type: none;
}

.footerContent__pages li a {
    text-decoration: none;
    color: white;
}

.footerContent__pages li a:hover {
    color: red;
}

.footerContent__logo {
    width: 80px;
    height: 60px;
}

.footerContent__copyright {
    color: white;
}