/* .drivercardBackground--unitedkingdom {
    background-image: url(../images/flags/unitedkingdom.gif);
}

.drivercardBackground--netherlands {
    background-image: url(../images/flags/netherlands.gif);
}

.drivercardBackground--mexico {
    background-image: url(../images/flags/mexico.gif);
}

.drivercardBackground--monaco {
    background-image: url(../images/flags/monaco.gif);
}

.drivercardBackground--spain {
    background-image: url(../images/flags/spain.gif);
    background-size: cover 170px;
}

.drivercardBackground--france {
    background-image: url(../images/flags/france.gif);
}

.drivercardBackground--australia {
    background-image: url(../images/flags/australia.gif);
    background-size: cover 170px;
}

.drivercardBackground--china {
    background-image: url(../images/flags/china.gif);
    background-size: cover 170px;
}

.drivercardBackground--germany {
    background-image: url(../images/flags/germany.gif);
}

.drivercardBackground--canada {
    background-image: url(../images/flags/canada.gif);
    background-size: cover 170px;
}

.drivercardBackground--denmark {
    background-image: url(../images/flags/denmark.gif);
}

.drivercardBackground--japan {
    background-image: url(../images/flags/japan.gif);
    background-size: cover 170px;
}

.drivercardBackground--thailand {
    background-image: url(../images/flags/thailand.gif);
    background-size: cover 170px;
}

.drivercardBackground--unitedstate {
    background-image: url(../images/flags/unitedstate.gif);
    background-size: cover 170px;
}

.drivercardBackground--finland {
    background-image: url(../images/flags/finland.gif);
} */

.paddingx-xxl-350 {
    padding-left: 350px;
    padding-right: 350px;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-margintop-10 {
    margin-top: 10%;
}

/* MEDIA QUERY */

@media only screen and (max-width: 576px) {

    .paddingx-sm-5 {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* MAIN */

    .card {
        flex-direction: column;
        height: auto;
        width: 800px;
    }

    .driversContent {
        padding: 20px 0px;
        margin: 0;
    }

    .teamCard__driversname {
        font-size: 16px;
    }

    /* FOOTER */

    .footerContent {
        padding: 40px 5px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 900px) {

    .paddingx-md-50 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .modal-md-width {
        --bs-modal-width: 700px;
    }

    /* FOOTER */

    .footerContent {
        padding: 40px 50px;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

    .paddingx-lg-200 {
        padding-left: 200px;
        padding-right: 200px;
    }

    .position-center {
        position: 50% 50%;
    }

}