@import "./_mixins";

.cursor-pointer {
    cursor: pointer;
}

.modal-margintop-10 {
    margin-top: 10%;
}

@include mobile {
    
}

@include tablet {
    .modal-md-width {
        --bs-modal-width: 700px;
    }
}

@include desktop {
    .position-center {
        position: 50% 50%;
    }
}