$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;

$countries: (
    unitedkingdom,
    netherlands,
    mexico,
    monaco,
    spain,
    france,
    australia,
    china,
    germany,
    canada,
    denmark,
    japan,
    thailand,
    unitedstate,
    finland,
);