header {
    width: 100%;
    background-color: white;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 40%, rgb(255, 130, 130) 50%, rgba(255, 0, 0, 1) 60%, rgba(255, 0, 0, 1) 100%);
    background-size: 400% 100%;
    animation: gradient 10s linear infinite;
    animation-direction: alternate;
    .banner {
        width: 100vw;
        height: auto;
        max-width: 100%;
        animation: banner-blur 12s linear infinite;
        animation-direction: alternate;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes banner-blur{
    0%{
        filter: blur(0px);
        transform: scale(1);
    }
    25%{
        filter: blur(0.5px);
        transform: scale(1.02);
    }
    50%{
        filter: blur(1px);
        transform: scale(1.03);
    }
    75%{
        filter: blur(0.5px);
        transform: scale(1.02);
    }
    100%{
        filter: blur(0px);
        transform: scale(1);
    }
}
