@import "../utilities/_variables";
@import "../utilities/_mixins";

.mainContent {
    padding: 20px 0px;
}

.news {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 800px;
    border-bottom-style: solid;
    border-right-style: solid;
    margin: 5px;
}

.card__image {
    height: auto;
    width: auto;
    padding: 5px;
}

.card__text {
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
    a {
        text-decoration: double;
    }
}

@include mobile {
    .card {
        flex-direction: column;
        height: auto;
        width: 800px;
    }
}