.scheduleContent {
    padding: 20px 0;
}

.scheduleCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 3px 8px #888888;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition: 0.1s ease;
        border-radius: 3%;
    }

    .scheduleCard-text {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        width: 250px;

        h2 {
            font-weight: bolder;
            font-size: 18px;
            height: 30px;
            line-height: normal;
            margin: 0;
            padding: 0;
        }

        p {
            font-weight: 500;
            font-size: 18px;
            width: 130px;
            height: 30px;
            margin: 0;
            padding: 0;
            text-align: right;
        }
    }

    .scheduleCard-circuit {
        max-width: 100%;
        max-height: 100%;
    }
}

@include between-mobile-tablet {
    .scheduleCard {
        width: 262px;
    }
}