@import "../utilities/_variables";
@import "../utilities/_mixins";

.nav-tabs {
    border: none;
    padding: 0;
    width: 200px;
}

.nav-tabs .nav-link {
    margin-bottom: 5px;
    box-shadow: 2px 3px 5px #888888;
}

.nav-tabs .nav-link.active {
    background-color: red;
    color: black;
    border: none;
}

.teams {
    margin: 23px 0;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 100%;

    ul {
        list-style-type: none;

        li {
            width: 100%;
            background-color: white;
            border: 1px;
            border-style: solid;
            border-color: rgba(21, 21, 31, 255);
            text-align: left;
            padding: 10px 5px;
            font-size: large;
            font-weight: 700;

            &:hover {
                background-color: rgba(21, 21, 31, 255);
                ;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 10px;
    margin: 23px 0;
    max-width: 100%;

    .teamCar {
        margin: 30px 0;
        width: 558px;
        max-width: 100%;
        height: auto;
    }
}

.teamCard {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 400px;
    max-width: 100%;

    .teamCard-logo {
        height: 203px;
        min-height: 203px;
    }

    .teamCard-text {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        margin-top: 5px;

        .teamCard-titles {
            font-weight: bolder;
            width: 40%;
        }

        .teamCard-info {
            text-align: right;
            width: 60%;
        }
    }
}

.teamDrivers {
    display: flex;
    max-width: 85%;

    .driver-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        box-shadow: 2px 3px 5px #888888;
        max-width: 100%;
        width: 240px;

        img {
            max-width: 100%;
        }

        h2 {
            font-size: 30px;
            margin-top: 10px;
            max-width: 100%;
        }

        p {
            font-size: 40px;
            font-weight: bolder;
            margin: 0;
            max-width: 100%;
        }
    }
}

@each $teamName,
$color in $teams-colors {
    @include team-color-background($teamName, $color);
}

@each $teamName,
$color in $teams-colors {
    @include team-color-shadow($teamName, $color);
}

@include tablet {
    .teams {
        ul {
            width: 95%;

            li {
                margin: 5px;
                width: 48%;
            }
        }
    }
}

@include between-mobile-tablet {
    .teams {
        ul {
            width: 95%;

            li {
                margin: 5px;
                width: 45%;
            }
        }
    }

    .teamDrivers {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@include mobile {
    .teams {
        ul {
            width: 95%;

            li {
                margin: 5px;
                width: 40%;
            }
        }
    }

    .team {
        flex-direction: column;
        height: auto;

        .teamCard {
            width: 400px;
        }

    }

    .teamDrivers {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .driver-card {
            margin: 30px 0;
            width: 240px;
        }
    }
}